*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/inspectionProfiles
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild